/* Common Class */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  font-family: "DM Sans", sans-serif !important;
}
@font-face {
    font-family: "Sangbleu";
    src: url(../assets/font/SangBleu\ Sunrise.ttf);
}
.container {
  max-width: 1428px;
  padding: 0 15px;
  width: 100%;
}

.container-fluid {
  max-width: 1530px;
  padding: 0 15px;
  width: 100%;
}
a {
  display: inline-block;
  text-decoration: none !important;
  color: black !important;
}
h1 {
  font-size: 54px !important;
  text-transform: capitalize;
  font-family: "Sangbleu", sans-serif;
}
h2 {
  font-size: 50px !important;
  text-transform: capitalize;
  font-family: "Sangbleu", sans-serif;
}
h3 {
  font-size: 28px !important;
  text-transform: capitalize;
  font-family: "Sangbleu", sans-serif;
}
li {
  list-style-type: none !important;
}

/* Header */
.nav-logo {
  max-width: 224px;
}
.nav-logo > a,
.nav-logo > a > img {
  max-width: 100%;
}
.nav-logo > a > img {
  object-fit: contain;
}

.nav-btn {
  background-color: #eae4ea;
  border-radius: 50px;
  padding: 14px 16px;
}
header a:hover{
  color: #aa6aaa !important;
}
/* Banner Section */
.banner {
  padding-inline: 50px;
  position: relative;
  z-index: -1;
  bottom: 54px;
}
.banner-wrpr {
  background: url("../assets/banner.png") no-repeat center/cover;
  /* padding-top: 80px; */
  border-radius: 20px;
}
.banner-content {
  max-width: 984px;
  padding-top: 48px;
}
.btns {
  max-width: 132px;
  background-color: #fff;
  background-color: #aa6aaa;
  padding: 20px 24px;
  border-radius: 50px;
  margin-bottom: 49px;
}
.banner-inner-img {
  border: 2px solid white;
  border-radius: 24px 24px 0 0;
  max-width: 1140px;
  padding: 13px 15px 0px 13px;
}
.banner-inner-img > img {
  width: 100%;
  border-radius: 24px 24px 0 0;
  object-fit: cover;
}

/*Potential  */
.p-h2 {
  max-width: 513px;
  margin-bottom: 82px;
}
.fig-img {
  max-width: 475px;
  /* margin: 0 auto; */
}
.fig-img > img {
  max-width: 100%;
  object-fit: contain;
}
.fig-img-2 {
  max-width: 440px;
  /* margin: 0 auto; */
}
.fig-img-2 > img {
  max-width: 100%;
  object-fit: contain;
}
.p-btns {
  background-color: #aa6aaa;
  padding: 15px 41px;
  border-radius: 50px;
  max-width: 231px;
  /* margin: 0 auto; */
}
.para {
  margin-block: 72px;
  max-width: 499px;
}
/* Letbuild */

.let-build {
  background-color: rgba(231, 229, 230, 0.519);
  padding-top: 90px;
  padding-bottom: 150px;
}
.let-head {
  max-width: 834px;
  margin-bottom: 47px;
}
.let-img {
  max-width: 360px;
  height: 356px;
  margin: 0 auto;
}
.let-img > img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.let-content {
  max-width: 360px;
  height: 356px;
  background-color: #eae4ea;
  padding: 57px 29px 30px;
  border-radius: 10px;
  margin: 0 auto;
}
.pink:hover {
  background-color: #aa6aaa;
  color: white;
  transition: background-color 0.35s ease;
}
.let-build a:hover {
  color: white !important;
}

/* Footer Section */
.footer-section {
  padding: 123px 0 16px;
  background: #18212d;
}

.foot-link {
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
}

.list-item > li {
  margin-bottom: 24px;
}

.foot-top {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 15px;
}

.top::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  height: 1px;
  width: 52px;
  background-color: #ffffff;
}

.sub-sec {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

#email {
  background: transparent;
  border-radius: 50px;
  border: 1px solid #eefdf8;
  padding: 12px 14px;
  flex-grow: 1;
}

.send {
  height: 46px;
  width: 46px;
}
.send > img {
  height: 100%;
  width: 100%;
}

.py-icon {
  padding: 8px;
  height: 41px;
  width: 41px;
}

.foot-logo {
  max-width: 195px;
  height: fit-content;
}

.container-fluid hr {
  background: #eeeeee;
  height: 3px !important;
}

.end {
  max-width: 322px;
  font-size: 14px;
  color: #ffffff;
}

/* sub footer */
footer a {
  color: #ffffff !important;
}
.s-content {
  width: 100%;
  padding: 38px 35px;
  background-color: #8a737d;
  border-radius: 6px;
}

.s-content h2 {
  color: #ffffff !important;
  
}

.s-f-img {
  max-width: 103px;
  object-fit: contain;
}

.s-f-btns {
  padding: 22px 36px;
  background-color: #fff;
  border-radius: 50px;
  min-width: 153px;
}

.sub-footer {
  top: -75px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
}

@media screen and (max-width: 768px) {
  .sub-footer h2 {
    text-align: center;
    font-size: 36px !important;
  }
  .s-content {
    flex-direction: column;
    padding: 23px 35px;
  }
  .s-res {
    justify-content: center;
  }
}
@media screen and (max-width: 576px) {
  /* common header */

  h1 {
    font-size: 31px !important;
    text-transform: capitalize;
  }
  h2 {
    font-size: 25px !important;
    text-transform: capitalize;
  }
  h3 {
    font-size: 19px !important;
    text-transform: capitalize;
  }

  /* header */
  .nav-logo {
    max-width: 124px;
  }
  .nav-logo > a,
  .nav-logo > a > img {
    max-width: 100%;
  }
  .nav-logo > a > img {
    object-fit: contain;
  }
  /* Banner */
  .banner {
    padding-inline: 21px;
    position: relative;
    z-index: -1;
    bottom: 22px;
  }
  /* potential */
  .p-h2 {
    max-width: 513px;
    margin-bottom: 30px;
  }
  .para {
    margin-block: 35px;
  }
  /* let-build */
  .let-build {
    padding-top: 43px;
  }
  .let-head {
    max-width: 834px;
    margin-bottom: 29px;
  }
  /* Footer */
  .list-item {
    text-align: center;
  }

  .top::after {
    display: none;
  }

  .top {
    text-align: center;
  }

  ol,
  ul {
    padding-left: 0 !important;
  }

  .py-ic {
    justify-content: center !important;
  }

  .foot-logo {
    margin: 0 auto 20px;
  }

  .s-content {
    flex-direction: column;
    padding: 17px 23px;
  }

  .s-res {
    justify-content: center;
    margin-top: 10px;
  }
  .sub-footer h2 {
    text-align: center;
  }
  .s-f-img {
    display: none;
  }
  .s-f-btns {
    padding: 8px 12px;
    text-align: center;
  }
}
